@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Cardo:ital,wght@0,400;0,700;1,400&family=Noto+Sans+Old+Persian&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=UnifrakturMaguntia&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: #030308;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.nav {
    text-align: left;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 15%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 3vw;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ul a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.781);
}

.ul a:hover {
    color: white;
}

select {
    text-align: center;
    height: 3vh;
    width: 6vw;
    background-color: #130A41;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.295);
    border-radius: 12px;
    margin-top: 1rem;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin-top: 10rem;
    font-family: Cardo;
    font-weight: 400;
}

.div {
    text-align: center;
}

.button {
    background-color: #2CC27A;
    padding: 0.6rem 1rem;
    border: transparent;
    border-radius: 40px;
    margin-top: 1rem;
    color: white;
    font-family: Roboto, Arial;
    font-weight: 600;
    font-size: 1rem;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgb(33 70 55 / 75%);
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673, #2bb673, #2bb673, #2bb673, #30dd8a, #30dd8a);
}

.button:hover {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, .75);
    cursor: pointer;
}

.but {
    background-color: #2CC27A;
    border-radius: 200px;
    width: 3vw;
    height: 6vh;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    border: transparent;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgb(33 70 55 / 75%);
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673, #2bb673, #2bb673, #2bb673, #30dd8a, #30dd8a);

}

.but:hover {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, .75);
    cursor: pointer;
}

.bet {
    font-size: 1.2rem;
    margin-left: 3rem;
    font-weight: 600;
    position: relative;
    background-color: #2CC27A;
    border-radius: 59px;
    padding: 1rem 2.5rem 1rem 2.5rem;
    color: rgb(255, 255, 255);
    font-family: Roboto, Arial;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgb(33 70 55 / 75%);
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673, #2bb673, #2bb673, #2bb673, #30dd8a, #30dd8a);
}

.bet:hover {
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, .75);
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    cursor: pointer;
}

.mic-icon {
    width: 0.9rem;
    height: 1.2rem;
    fill: #ffffff;
}

.img {
    text-align: center;
    position: relative;
    text-align: center;
    filter: brightness(0.6);
}

.codeOutput {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#codeOutput {
    border: 1px solid rgba(0, 0, 0, 0.116);
    background-color: #ffffff38;
    width: 50%;
    height: 4vh;
    padding: 15px 0 0 0;
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.603);
    font-family: sans-serif;
    letter-spacing: 0.04rem;
    font-size: 1rem;
}

.pre {
    color: rgba(255, 255, 255, 0.534);
    font-family: Inter, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1rem;
    letter-spacing: 0.04rem;
}

h3 {
    font-size: 2rem;
}

.howto {
    position: relative;
    background-image: url('assets/img2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    /* Text remains clear */
    z-index: 1;
    padding: 1rem 20rem;
    margin-top: 3rem;
}

.howto p {
    font-size: 1.2rem;
}

.howto p:nth-child(2) {
    align-items: left;
}

.howto p strong {
    font-size: 1.5rem;
}

.howto ul {
    font-size: 1.1rem;
    text-align: left;
    list-style: none;
    padding-left: 1rem;
}

.howto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.849);
    /* Dark overlay */
    z-index: -1;
    /* Behind text */
}

.howto {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.howtouse img {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-top: 5rem;
}

.howtouse img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px 0 #0b1323bb;
}

.about {
    display: flex;
    align-items: center;
    padding: 10% 15% 15% 13%;
    gap: 15rem;
}

.abo {
    font-family: sans-serif;
}

.abo p {
    font-size: 1.2rem;
}

.abo p:nth-child(2) {
    align-items: left;
}

.abo p strong {
    font-size: 1.5rem;
    font-weight: 100;
}

.abo ul {
    font-size: 1.1rem;
    text-align: left;
    list-style: none;
    padding-left: 1rem;

}

.abou {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

}

.abo li {
    list-style: none;
}

.abou img {
    height: 15rem;
    border-radius: 10rem 0 10rem 0;
    align-items: center;
    transition: all .4s ease-in-out;
}

.abou img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px 0 #22083ccc;
    transform: skewY(3deg)
}

.abou span {
    border: 3px solid white;
    border-radius: 3rem 0 3rem 0;
    border-left: #030308;
    border-right: #030308;
    border-bottom: #030308;
    background-color: #000000;
    transition: all .4s ease-in-out;
    align-items: center;
    width: 10rem;
    height: 2rem;
    margin-left: 2.3rem;
    font-family: sans-serif;
    font-size: 0.6;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: grid;
    margin-top: 1.5rem;
}

.abou span:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px 0 #7f16db80;
    background-image: linear-gradient(to right, #3F1662 #4c157c #631da0 #7f16db);
}

.cards {
    display: flex;
    gap: 4%;
    margin: 1% 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card {
    width: 15%;
    height: auto;
    background-color: #08041B;
    border-radius: 5%;
    text-align: center;
    padding: 1% 2%;
    font-family: sans-serif;
    border-radius: 0 10% 0 10%;
    border: 2px solid rgba(255, 255, 255, 0.137);
    transition: all .4s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px 0 #22083ccc;
    transform: skewY(3deg)
}

.card img {
    height: 50%;
    width: 50%;
}

.card h4 {
    font-family: sans-serif;
    font-size: 1.5rem;
}

.card span {
    background-color: #130A41;
    padding: 2% 5%;
    border-radius: 20rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.card p {
    font-family: sans-serif;
}

.cont {
    display: flex;
    margin: 15% 10% 0% 10%;
    padding: 0% 3% 10% 0%;
    gap: 10%;
    font-family: sans-serif;
    height: auto;
    width: auto;
}

.cont p {
    font-size: 1.2rem;
}

.cont ul {
    font-size: 1.1rem;
    text-align: left;
    list-style: none;
    padding-left: 1rem;
}

.contact {
    margin-top: 5rem;
}

.container {
    height: 65vh;
    width: 50vw;
    background-color: #08041B;
    border-radius: 2rem;
    text-align: center;
    padding: 2%;
    font-family: sans-serif;
    border: 2px solid rgba(255, 255, 255, 0.137);
    margin: auto;
    transition: all .4s ease-in-out;
}

.container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px 0 #22083ccc;
}

.container pre {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
}

.container h5 {
    font-family: sans-serif;
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
}

.container input {
    width: 95%;
    height: 7%;
    background-color: #130A41;
    border-radius: 0.7rem;
    border: 0.1rem solid #ffffff2d;
    padding: 0 3%;
    color: white;
    font-family: sans-serif;
    margin-top: -13%;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.301);
}

.container textarea {
    margin-top: 2rem;
    width: 96%;
    height: 40%;
    background-color: #130A41;
    border-radius: 0.7rem;
    border: 0.1rem solid #ffffff2d;
    color: white;
    font-family: sans-serif;
    padding: 3% 2% 2% 3%;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.301);
    font-family: sans-serif;
}

.container button {
    width: 40%;
    height: 6%;
    background-color: #2FD686;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    border: transparent;
    border-radius: 1rem 0 1rem 0;
    border: 2px solid #599175;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgb(33 70 55 / 75%);
}

.container button:hover {
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, .75);
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    cursor: pointer;
}

footer {
    background-color: #482fd615;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30%;
}

footer strong a {
    color: white;
    text-decoration: none;
}

.hamburger {
    cursor: pointer;
    display: none;
    width: 8%;
    height: 5%;
    z-index: 200;
    margin: 1rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.hamburger div {
    background-color: white;
    height: 4px;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 2px;
}

/* Cross animation */
.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Mobile nav off-screen by default */
.mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    height: 10%;
    background-color: #0ba360;
    z-index: 10;
    transition: right 0.3s ease;
    padding-top: 5rem;
    border-radius: 10%;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgb(33 70 55 / 75%);
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673, #2bb673, #2bb673, #2bb673, #30dd8a, #30dd8a);
    color: white;
    margin-right: 30%;
    margin-top: -4%;
}

.mobile-nav:hover {
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, .75);
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    cursor: pointer;
}

.mobile-nav.active {
    right: 0;
}

@media (max-width: 1400px) {
    .howto {
        padding: 1rem 10rem;
    }

    .howtouse img {
        width: 100%;
    }

    .about {
        padding: 10% 5% 15% 5%;
        gap: 5rem;
    }

    .cards {
        gap: 2%;
    }

    .card {
        width: 18%;
    }

    .cont {
        margin: 10% 5% 0% 5%;
        padding: 10% 3% 5% 0%;
        gap: 5%;
    }

    .container {
        height: 75vh;
        width: 60vw;
        border-radius: 0 10% 0 10%;
    }

    .container button {
        margin-top: 1rem;
    }
}

@media (max-width: 1200px) {
    .howto {
        padding: 1rem 10rem;
    }

    .howtouse img {
        width: 100%;
    }

    .about {
        padding: 10% 5% 15% 5%;
        gap: 5rem;
    }

    .cards {
        gap: 2%;
    }

    .card {
        width: 18%;
    }

    .cont {
        margin: 10% 5% 0% 5%;
        padding: 10% 0% 5% 0%;
        gap: 5%;
    }

    .container {
        height: 65vh;
        width: 80vw;
    }

    .container button {
        margin-top: 1.2rem;
    }

    .container textarea {
        margin-top: 1.5rem;
        width: 96%;
        height: 35%;
    }

    .container pre {
        margin-top: 0.5rem;
    }
}

@media (max-width: 992px) {
    select {
        width: 10vw;
    }

    .but {
        width: 7vw;
        height: 6vh;
    }

    .bet {
        margin-left: 2rem;
    }

    .howto {
        padding: 1rem 5rem;
    }

    .cards {
        gap: 2%;
    }

    .card {
        width: 18%;
    }

    .abo p {
        font-size: 1.0rem;
    }

    .abo p strong {
        font-size: 1.1rem;
        font-weight: 700;
    }

    .abo ul {
        font-size: 0.9rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .howto p {
        font-size: 1.0rem;
    }

    .howto p strong {
        font-size: 1.0rem;
    }

    .howto ul {
        font-size: 0.9rem;
    }

    .card img {
        height: 40%;
        width: 40%;
    }

    .card h4 {
        font-size: 1.0rem;
    }

    .card span {
        font-size: 0.8rem;
    }

    .card p {
        font-size: 0.8rem;
    }

    .card {
        width: 18%;
    }

    .card p {
        font-family: sans-serif;
    }

    .cont {
        margin: 10% 5% 0% 5%;
        padding: 10% 0% 5% 0%;
        gap: 5%;
    }

    .cont p {
        font-size: 1.0rem;
    }

    .cont ul {
        font-size: 0.9rem;
    }

    .container {
        height: 65vh;
        width: 100vw;
    }

    footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 992px) {
    .nav {
        gap: 10%;
        margin-top: 1.5rem;
    }

    #codeOutput {
        width: 80%;
        height: 4vh;
        letter-spacing: 0.04rem;
        font-size: 1.3rem;
        padding: 2rem 0 0 0;
    }

    .pre {
        font-size: 1.2rem;
    }

    h2 {
        margin-top: 38%;
    }

    .now {
        margin-top: 1%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .img {
        margin-top: 25%;
    }

    .ul a {
        font-size: 1.5rem;
    }

    select {
        width: 14vw;
        height: 3vh;
        font-size: 1rem;
    }

    .but {
        width: 7vw;
        height: 4vh;
    }

    .bet {
        padding: 1.4rem 5rem 1.2rem 5rem;
    }

    .button {
        padding: 1rem 5rem;
        font-size: 1.4rem;
    }

    .container {
        height: 32vh;
        width: 100vw;
    }
}

@media (max-width: 768px) {
    .nav {
        gap: 22%;
        margin-top: 1.5rem;
        margin-left: 3rem;
        justify-content: flex-start;
        padding: 0 1rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    #codeOutput {
        width: 80%;
        height: 4vh;
        letter-spacing: 0.04rem;
        font-size: 1.3rem;
        padding: 1rem 0 0 0;
    }

    .pre {
        font-size: 1.2rem;
    }

    h2 {
        margin-top: 12%;
    }

    .now {
        margin-top: 1%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .img {
        margin-top: 2%;
    }

    .ul a {
        font-size: 1.5rem;
    }

    select {
        width: 14vw;
        height: 3vh;
        font-size: 1rem;
    }

    .but {
        width: 8.5vw;
        height: 6.5vh;
    }

    .bet {
        padding: 1.4rem 5rem 1.2rem 5rem;
    }

    .button {
        padding: 1rem 5rem;
        font-size: 1.4rem;
    }

    .howto p {
        font-size: 1.5rem;
    }

    .howto p strong {
        font-size: 1.7rem;
    }

    .howto ul {
        font-size: 1.3rem;
        text-align: left;
        padding-left: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .about {
        display: grid;
    }

    h3 {
        font-size: 2rem;
    }

    .abo p {
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }

    .abo p strong {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .abo ul {
        font-size: 1.1rem;

    }

    .abou {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;

    }

    .abou img {
        height: 25rem;
        border-radius: 10rem 0 10rem 0;
        align-items: center;
    }

    .abou span {
        width: 25rem;
        height: 3rem;
        font-size: 2rem;
        font-weight: 600;
        margin-left: -0rem;

    }

    .cards {
        display: grid;
        gap: 4%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: -26rem;
    }

    .card {
        width: 53%;
        height: 100%;
        padding: 1% 2%;
    }

    .card img {
        height: 50%;
        width: 50%;
    }

    .card h4 {
        font-size: 2rem;
    }

    .card span {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 1.3rem;
        margin-top: 3rem;
        padding: 0 2rem;
    }

    .cont {
        display: grid;
        margin-top: 14rem;
    }

    .cont p {
        font-size: 1.5rem;
    }

    .cont ul {
        font-size: 1.3rem;
    }

    .container {
        height: 83vh;
        width: 73vw;
        margin-bottom: 5rem;
    }

    .container pre {
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: 700;
        margin-top: 2rem;
    }

    .container h5 {
        font-family: sans-serif;
        font-size: 1.5rem;
        text-align: left;
        margin-top: 1rem;
    }

    .container textarea {
        width: 93%;
        height: 43.5%;
    }

    .container input {
        width: 93%;
        height: 7%;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.301);
        font-family: sans-serif;
        font-size: large;
    }

    textarea::placeholder {
        font-size: large;
    }

    .container button {
        width: 40%;
        height: 6%;
        background-color: #2FD686;
        color: white;
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    }

    footer {
        font-size: 1rem;
    }

    .ul {
        display: none !important;
    }

    select {
        width: 20vw;
        height: 2.4rem;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0rem;
        right: 1.7rem;
        z-index: 1000;
    }

    /* ✅ Mobile nav adjustments */
    .mobile-nav {
        height: 20vh;
        width: 30%;
        top: 10%;
        padding-top: 2.5rem;
        border-radius: 3rem;
    }

    /* ✅ Ensure mobile UL items are visible */
    .mobile-nav .ul {
        display: flex !important;
        flex-direction: column;
        gap: 1.5rem;
        padding: 0rem 1rem;
        list-style: none;
    }

    .mobile-nav .ul li a {
        color: rgba(255, 255, 255, 0.801);
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: sans-serif;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav .ul li a:hover {
        color: white;
    }
}

@media (max-width: 576px) {
    .mobile-nav {
        margin-right: 43%;
    }

    .ul {
        display: none !important;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0rem;
        right: 1.7rem;
        z-index: 1000;
    }

    /* ✅ Mobile nav adjustments */
    .mobile-nav {
        height: 18vh;
        width: 20%;
        top: 10%;
        border-radius: 1.5rem;
    }

    /* ✅ Ensure mobile UL items are visible */
    .mobile-nav .ul {
        display: flex !important;
        flex-direction: column;
        gap: 1.2rem;
        margin-bottom: 10%;
        list-style: none;
        margin-top: 0%;
    }

    .mobile-nav .ul li a {
        color: rgba(255, 255, 255, 0.801);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: sans-serif;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav .ul li a:hover {
        color: white;
    }

    .nav {
        gap: 13%;
        margin-top: 0.5rem;
        margin-left: 1rem;
        justify-content: flex-start;
        padding: 0 1rem;
    }

    select {
        width: 25vw;
        height: 5vh;
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #codeOutput {
        width: 91%;
        height: 5vh;
        letter-spacing: 0.04rem;
        font-size: 1.1rem;
        padding: 1.2rem 0 0 0;
    }

    .pre {
        font-size: 1.2rem;
    }

    h2 {
        margin-top: 12%;
    }

    .now {
        margin-top: 1%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .img {
        margin-top: -17%;
        margin-left: -7%;
    }

    .ul a {
        font-size: 1.5rem;
    }

    .but {
        width: 11.5vw;
        height: 8.5vh;
        margin-top: 1.1rem;
    }

    .bet {
        padding: 1.4rem 5rem 1.2rem 5rem;
    }

    .button {
        padding: 1rem 5rem;
        font-size: 1.4rem;
    }

    .howto p {
        font-size: 1.5rem;
    }

    .howto p strong {
        font-size: 1.7rem;
    }

    .howto ul {
        font-size: 1.3rem;
        text-align: left;
        padding-left: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .about {
        display: grid;
    }

    h3 {
        font-size: 2rem;
    }

    .abo p {
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }

    .abo p strong {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .abo ul {
        font-size: 1.1rem;

    }

    .abou {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;

    }

    .abou img {
        height: 25rem;
        border-radius: 10rem 0 10rem 0;
        align-items: center;
    }

    .abou span {
        width: 25rem;
        height: 3rem;
        font-size: 2rem;
        font-weight: 600;
        margin-left: -0rem;

    }

    .cards {
        display: grid;
        gap: 2%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: -30rem;
    }

    .card {
        width: 47%;
        height: 90%;
        padding: 1% 2%;
    }

    .card img {
        height: 50%;
        width: 50%;
    }

    .card h4 {
        font-size: 2rem;
        margin-top: -1%;
    }

    .card span {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 1.3rem;
        margin-top: 2rem;
        padding: 0 2rem;
    }

    .cont {
        display: grid;
        margin-top: 5rem;
    }

    .cont p {
        font-size: 1.5rem;
    }

    .cont ul {
        font-size: 1.3rem;
    }

    .container {
        height: 81vh;
        width: 73vw;
        margin-bottom: 7rem;
    }

    .container pre {
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: 700;
        margin-top: 1.5rem;
    }

    .container h5 {
        font-family: sans-serif;
        font-size: 1.5rem;
        text-align: left;
        margin-top: 1rem;
    }

    .container textarea {
        width: 93%;
        height: 33.5%;
    }

    .container input {
        width: 93%;
        height: 7%;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.301);
        font-family: sans-serif;
        font-size: large;
    }

    textarea::placeholder {
        font-size: large;
    }

    .container button {
        width: 40%;
        height: 6%;
        background-color: #2FD686;
        color: white;
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    }

    footer {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .mobile-nav {
        margin-right: 52%;
    }

    .ul {
        display: none !important;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0rem;
        right: 1.7rem;
        z-index: 1000;
    }

    /* ✅ Mobile nav adjustments */
    .mobile-nav {
        height: 18vh;
        width: 20%;
        top: 8%;
        border-radius: 1.5rem;
    }

    /* ✅ Ensure mobile UL items are visible */
    .mobile-nav .ul {
        display: flex !important;
        flex-direction: column;
        gap: 1.2rem;
        margin-bottom: 10%;
        list-style: none;
        margin-top: 0%;
    }

    .mobile-nav .ul li a {
        color: rgba(255, 255, 255, 0.801);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: sans-serif;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav .ul li a:hover {
        color: white;
    }

    .nav {
        gap: 7%;
        margin-top: 0.5rem;
        margin-left: 0rem;
        justify-content: flex-start;
        padding: 0 1rem;
    }

    select {
        width: 32vw;
        height: 5vh;
        font-size: 1.2rem;
    }



    #codeOutput {
        width: 91%;
        height: 5vh;
        letter-spacing: 0.04rem;
        font-size: 1.1rem;
        padding: 1.1rem 0 0 0;
    }

    .pre {
        font-size: 1.2rem;
    }

    h2 {
        margin-top: 6%;
        font-size: 2.2rem;
    }

    .now {
        margin-top: 1%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .img {
        margin-top: -21%;
        margin-left: -28%;
    }

    .ul a {
        font-size: 1.5rem;
    }

    .but {
        width: 14.5vw;
        height: 8.5vh;
        margin-top: 1.5rem;
    }

    .bet {
        padding: 1.4rem 5rem 1.2rem 5rem;
    }

    .button {
        padding: 1rem 5rem;
        font-size: 1.4rem;
    }

    .howto p {
        font-size: 1.5rem;
    }

    .howto p strong {
        font-size: 1.7rem;
    }

    .howto ul {
        font-size: 1.3rem;
        text-align: left;
        padding-left: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .about {
        display: grid;
    }

    h3 {
        font-size: 2rem;
    }

    .abo p {
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
    }

    .abo p strong {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .abo ul {
        font-size: 1.1rem;

    }

    .abou {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;

    }

    .abou img {
        height: 25rem;
        border-radius: 10rem 0 10rem 0;
        align-items: center;
    }

    .abou span {
        width: 25rem;
        height: 3rem;
        font-size: 2rem;
        font-weight: 600;
        margin-left: -0rem;

    }

    .cards {
        display: grid;
        gap: 2%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: -34rem;
    }

    .card {
        width: 39%;
        height: 95%;
        padding: 1% 2%;
    }

    .card img {
        height: 50%;
        width: 50%;
    }

    .card h4 {
        font-size: 2rem;
        margin-top: -1%;
        margin-bottom: 4%;
    }

    .card span {
        font-size: 1.2rem;
        margin-top: -10%;
    }

    .card p {
        font-size: 1.3rem;
        margin-top: 2rem;
        padding: 0 2rem;
    }

    .cont {
        display: grid;
        margin-top: 5rem;
    }

    .cont p {
        font-size: 1.5rem;
    }

    .cont ul {
        font-size: 1.3rem;
    }

    .container {
        height: 87vh;
        width: 84vw;
        margin-bottom: 7rem;

    }

    .container pre {
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: 700;
        margin-top: 1.5rem;
    }

    .container h5 {
        font-family: sans-serif;
        font-size: 1.5rem;
        text-align: left;
        margin-top: 0.9rem;
        margin-left: 1rem;
        margin-bottom: 7%;
    }

    .container textarea {
        width: 93%;
        height: 37.5%;
    }

    .container input {
        width: 93%;
        height: 7%;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.301);
        font-family: sans-serif;
        font-size: large;
    }

    textarea::placeholder {
        font-size: large;
    }

    .container button {
        width: 40%;
        height: 6%;
        background-color: #2FD686;
        color: white;
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    }

    footer {
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .ul {
        display: none !important;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0rem;
        right: -1.01rem;
        z-index: 1000;
    }

    /* ✅ Mobile nav adjustments */
    .mobile-nav {
        height: 19vh;
        width: 18%;
        top: 6%;
        border-radius: 1.5rem;
        margin-right: 59%;
    }

    /* ✅ Ensure mobile UL items are visible */
    .mobile-nav .ul {
        display: flex !important;
        flex-direction: column;
        gap: 0.9rem;
        margin-bottom: 10%;
        list-style: none;
        margin-top: 0%;
    }

    .mobile-nav .ul li a {
        color: rgba(255, 255, 255, 0.801);
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        font-family: sans-serif;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav .ul li a:hover {
        color: white;
    }

    .nav {
        gap: 5%;
        margin-top: 0.5rem;
        margin-left: -0.3rem;
        justify-content: flex-start;
        padding: 0 1rem;
    }

    select {
        width: 31vw;
        height: 4vh;
        font-size: 0.8rem;
        margin-top: 1.3rem;
    }



    #codeOutput {
        width: 91%;
        height: 5vh;
        letter-spacing: 0.04rem;
        font-size: 0.9rem;
        padding: 1.1rem 0 0 0;
    }

    .pre {
        font-size: 0.8rem;
    }

    h2 {
        margin-top: 4%;
        font-size: 2rem;
    }

    .now {
        margin-top: 1%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .img {
        margin-top: -10%;
        margin-left: -1.5rem;
    }

    .img img {
        width: 25rem;
    }

    .ul a {
        font-size: 1.5rem;
    }

    .but {
        width: 14.5vw;
        height: 7.5vh;
        margin-top: 1.5rem;
    }

    .bet {
        padding: 0.8rem 2rem 0.8rem 2rem;
    }

    .button {
        padding: 0.4rem 1rem;
        font-size: 1rem;
    }

    .div {
        margin-left: 2%;
    }

    .howto {
        padding: 1rem 1rem;
    }

    .howto p {
        font-size: 1rem;
    }

    .howto p strong {
        font-size: 1.5rem;
    }

    .howto ul {
        font-size: 1rem;
        text-align: left;
        padding-left: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .about {
        display: grid;
        margin-bottom: 19%;
    }

    h3 {
        font-size: 1.5rem;
    }

    .abo p {
        font-size: 1rem;
        letter-spacing: 0.05rem;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 1rem 1rem;
    }

    .abo p strong {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .abo ul {
        font-size: 1rem;

    }

    .abou {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2rem;

    }

    .abou img {
        height: 18rem;
        border-radius: 10rem 0 10rem 0;
        align-items: center;
    }

    .abou span {
        width: 15rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 1rem;

    }

    .cards {
        display: grid;
        gap: 2%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-right: -28rem;
    }

    .card {
        width: 34%;
        height: 45vh;
        padding: 1% 2%;
    }

    .card img {
        height: 50%;
        width: 50%;
    }

    .card h4 {
        font-size: 1rem;
        margin-top: 1%;
        margin-bottom: 4%;
    }

    .card span {
        font-size: 0.8rem;
        margin-top: -10%;
    }

    .card p {
        font-size: 1rem;
        margin-top: 1rem;
        padding: 0 1rem;
    }

    .cont {
        display: grid;
        margin-top: 5rem;
    }

    .cont p {
        font-size: 1rem;
    }

    .cont ul {
        font-size: 0.9rem;
    }

    .container {
        height: 76vh;
        width: 84vw;
        margin-bottom: 7rem;


    }

    .container pre {
        font-size: 1.5rem;
        font-family: sans-serif;
        font-weight: 700;
        margin-top: 1.5rem;
    }

    .container h5 {
        font-family: sans-serif;
        font-size: 1rem;
        text-align: left;
        margin-top: 0.9rem;
        margin-left: 1rem;
        margin-bottom: 7%;
    }

    .container textarea {
        width: 88%;
        height: 35.5%;
    }

    .container input {
        width: 87%;
        height: 6%;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.301);
        font-family: sans-serif;
        font-size: 0.8rem;
    }

    textarea::placeholder {
        font-size: 0.8rem;
    }

    .container button {
        width: 40%;
        height: 6%;
        background-color: #2FD686;
        color: white;
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: 600;
    }

    footer {
        font-size: 0.7rem;
    }
}